/* ===== App Styles ===== */

#app-container {
 /* display: flex;
  flex-direction: column;*/
  background-image: linear-gradient(to bottom right, rgb(158, 235, 35), rgb(36, 84, 218));
}


/* ===== Login Styles ===== */

#login-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1080px;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-column {
  display: flex;
  flex-direction: column;
}

#login-text {
  margin-top: 70%;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30%;
  width: 17rem;
}

form > input {
  width: 98%;
  margin-top: 1rem;
  border-radius: 15px;
}

#create-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

#create-container > a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#login-form > #submit {
  margin-top: 4rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white;
}


/* ===== CreateUser Styles ===== */

#createuser-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1080px;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#create-column {
  display: flex;
  flex-direction: column;
}

.create-input {
  width: 98%;
  margin-top: 1rem;
  border-radius: 15px;
  height: 1rem;
}

#submit {
  margin-top: 4rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white; 
}

#create-email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#create-checkbox {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

#check-text {
  font-size: 14px;
  margin-top: 1.5rem;
}


/* ===== GameSetup Styles ===== */

#game-setup-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1080px;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#setup-header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin: 10rem 0 5rem 0;
}

#instruction-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#platform-instructions {
  font-weight: bold;
  font-size: 18px;
}


/* ===== SelectPlatform Styles ===== */

#platform-selector {
  display: flex;
  flex-direction: column;
  height: 1079;
}

#platform-selector > div {
  display: flex;
  flex-direction: row;

}

#platform-selector > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#platform-selector li {
  margin: 1rem 1rem 0rem 1rem;
}

#game-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

#platform-selector li {
  width: 8rem;
  margin-left: 2rem;
}


#clickable-platform > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gameSelected {
  font-weight: bold;
}

.gameNotSelected {
  font-weight: normal;
}