/* ===== App Styles ===== */

#app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(7, 50, 114), rgb(1,4,4));
  height: calc(var(--vh, 1vh) * 100);
}

/* * {border: solid red 2px}*/

/* ===== Login Styles ===== */

#login-container {
  display: flex;
  flex-direction: row;
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-column {
  display: flex;
  flex-direction: column;
}

#login-text {
  margin-top: 70%;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30%;
  width: 17rem;
}

form > input {
  width: 98%;
  margin-top: 1rem;
  border-radius: 15px;
}

#create-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

#create-container > a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#login-form > #submit {
  margin-top: 4rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white;
}


/* ===== CreateUser Styles ===== */

#createuser-container {
  display: flex;
  flex-direction: row;
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#create-column {
  display: flex;
  flex-direction: column;
}

.create-input {
  width: 98%;
  margin-top: 1rem;
  border-radius: 15px;
  height: 1rem;
}

#submit {
  margin-top: 4rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white; 
}

#create-email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#create-checkbox {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

#check-text {
  font-size: 14px;
  margin-top: 1.5rem;
}


/* ===== About Styles ===== */

#about-container {
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  padding-top: 3rem;
}

#about-container > h1 {
  color: white;
}


/* ===== Contact Styles ===== */

#contact-container {
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  padding-top: 3rem;
}

#contact-container > h1 {
  color: white;
}


/* ===== GameContainer Styles ===== */

#game-container {
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
}


/* ===== NavBar Styles ===== */

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(54, 51, 51);
  width: 100%;
  height: 2.75rem;
  margin-top:3rem;
  color: white;
  border-bottom:  solid rgb(40, 226, 214) 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#nav-links > a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem 0rem 0rem 4rem
}

#navbar-spacer {
  width: 65%;
}

.player-dot {
  margin-top: 8px;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 200px;
  background-color: rgb(40, 226, 214);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-dot > div {
  font-size: 12px;
  margin: 7px;
  color: black;
}


/* ===== Main Game Component Styles ===== */

#game-container {
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
}

#main-gamecomponents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  height: fit-content;
}


/* ===== GameSetup Styles ===== */

*:focus {
  outline: none;
}

#gamesetup-container {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 40rem;
  height: fit-content;
}

#gamesetup-container label {
  font-size: 10px;
  color: white;
}

#players {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
}

#players > label {
  margin: 5rem 0rem 0rem 5rem;
}

#players > input {
  background-image: linear-gradient(rgb(126, 123, 123), rgb(54, 51, 51));
  color: white;
  border: solid rgb(40, 226, 214) 3px;
  margin: 5rem 0rem 0rem 3.9rem;
  border-radius: 8px;;
  width: 8.2rem;
  height: 1.5rem;
}

#player-submit-btn {
  width: 2rem;
  height: 2rem;
  margin-top: 5rem;
  border-radius: 6px;
  background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
  color: white;
  font-size: 26px;
  line-height: 50%;
}

#phone-platformselect {
  display: none;
}

#platform-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}

#platform-control > label {
  margin: 1rem 3.35rem 0rem 4.75rem;
  font-size: 10px;
}

#platform-control > #scroller {
  margin-top: 1rem;
  height: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  border: solid rgb(40, 226, 214) 3px;
  border-radius: 8px;
}

#platform-list {
  width: 10.5rem;
  list-style: none;
  padding: 0;
}

.platform-list-item {
  font-size: 12px;
  background-image: linear-gradient(rgb(126, 123, 123), rgb(54, 51, 51));
  height: 2rem;
  padding-top: 5px;
}

.platform-list-input {
  border: solid white 5px;
  margin: .25rem 1rem .25rem 1rem;
  background-color: turquoise;
}

#checkboxes > input {
  margin: 1rem 0rem 0rem .5rem;
  width: 1rem;
  height: 1rem;
}

#splitscreen-label {
  margin: 1rem .5rem 0rem 5rem;
}

#kids-label {
  margin: 1rem .5rem 0rem 1.5rem;
}

#online > label {
  margin: 0rem 0rem 0rem 5rem;
  font-size: 10px;
}

#online > select {
  background-color: rgb(54, 51, 51);
  color: white;
  border: solid rgb(40, 226, 214) 3px;
  border-radius: 8px;
  margin: 1rem 0rem 0rem 2.4rem;
  width: 11rem;
  height: 2rem;
}

#timelimit > label {
  margin: 0rem 0rem 0rem 5.2rem;
  font-size: 10px;
}

#timelimit > select {
  background-color: rgb(54, 51, 51);
  color: white;
  border: solid rgb(40, 226, 214) 3px;
  margin: 1rem 0rem 0rem 2.5rem;
  border-radius: 8px;
  width: 10.9rem;
  height: 2rem;
}

#findgames > button {
  margin: 1rem 0rem 0rem 13rem;
  height: 2rem;
  width: 7rem;
  border-radius: 15px;
  color: white;
  background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
}

#phone-gameselect {
  display: none;
}

#multi-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}

#multi-control > label {
  margin: 1rem 3.35rem 0rem 5.5rem;
  font-size: 10px;
}

#multi-control > #scroller {
  margin-top: 1rem;
  height: 12rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  border: solid rgb(40, 226, 214) 3px;
  border-radius: 8px;
}

#multi-list {
  width: 10.5rem;
  list-style: none;
  padding: 0;
}

.multi-list-item {
  font-size: 12px;
  background-image: linear-gradient(rgb(126, 123, 123), rgb(54, 51, 51));
  height: 2rem;
  padding-top: 5px;
}

.multi-list-input {
  border: solid white 5px;
  margin: .25rem 1rem .25rem 1rem;
  background-color: turquoise;
}

#lets-play {
  display: none;
}


/* ===== Challenge Container Styles ===== */

#challenge-container {
  width: 100%;
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url('../assets/monitor.png');
  background-size: 80% 600px;
  background-repeat: no-repeat;
  margin: 5rem 4rem 0rem 4rem;
}

#challenge-cards {
  color: white;
  margin: 10rem 0rem 0rem 10rem;
}




/* ========== Media Queries ========== */

/* ===== iPhone ===== */


@media only screen and (max-width: 600px) {
  
  #nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  #nav-links > a {
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem 0rem 0rem 1rem;
  }
  
  #navbar-spacer {
    width: 25%;
  }

  #main-gamecomponents {
    display: flex;
    flex-direction: column;
    min-width: 100vwpx;
    width: calc(var(--vw, 1vw) * 100);
    height: auto;
  }

  #gamesetup-container {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: fit-content;
    /*min-height: 100vhpx;
    height: calc(var(--vh, 1vh) * 100);*/
  }

  #players {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 100%;
  }
  
  #players > label {
    margin: 5.75rem 0rem 0rem 2rem;
  }
  
  #players > input {
    background-image: linear-gradient(rgb(126, 123, 123), rgb(54, 51, 51));
    color: white;
    border: solid rgb(40, 226, 214) 3px;
    margin: 5rem 0rem 0rem 3.9rem;
    border-radius: 8px;;
    width: 8.2rem;
    height: 1.5rem;
  }
  
  #player-submit-btn {
    width: 2rem;
    height: 2rem;
    margin-top: 5rem;
    border-radius: 6px;
    background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
    color: white;
    font-size: 26px;
    line-height: 50%;
  }
  
  
  #platform-control {
    display: none;
  }

  #phone-platformselect {
    display: contents;
  }
  #phone-platformselect > label {
    margin: 1rem 3rem 0rem 2rem;
    font-size: 10px;
  }
  
  #phone-platformselect > select {
    background-color: rgb(54, 51, 51);
    color: white;
    border: solid rgb(40, 226, 214) 3px;
    border-radius: 8px;
    margin: 1rem 0rem 0rem 0rem;
    width: 11rem;
    height: 2rem;
  }
  
  #checkboxes > input {
    margin: 1rem 0rem 0rem .5rem;
    width: 1rem;
    height: 1rem;
  }
  
  #splitscreen-label {
    margin: 1rem .5rem 0rem 2rem;
  }
  
  #kids-label {
    margin: 1rem .5rem 0rem 1.5rem;
  }
  
  #online > label {
    margin: 0rem 0rem 0rem 2rem;
    font-size: 10px;
  }
  
  #online > select {
    background-color: rgb(54, 51, 51);
    color: white;
    border: solid rgb(40, 226, 214) 3px;
    border-radius: 8px;
    margin: 1rem 0rem 0rem 2.4rem;
    width: 11rem;
    height: 2rem;
  }
  
  #timelimit > label {
    margin: 0rem 2.75rem 0rem 2rem;
    font-size: 10px;
  }
  
  #timelimit > select {
    background-color: rgb(54, 51, 51);
    color: white;
    border: solid rgb(40, 226, 214) 3px;
    margin: 1rem 0rem 0rem 0rem;
    border-radius: 8px;
    width: 10.9rem;
    height: 2rem;
  }
  
  
  #findgames > button {
    margin: 1rem 0rem 0rem 10rem;
    height: 2rem;
    width: 7rem;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
  }
  
  #multi-control {
    display: none;
  }
  
  #phone-gameselect {
    display: contents;
  }
  #phone-gameselect > label {
    margin: 1rem 1.5rem 0rem 2rem;
    font-size: 10px;
  }
  
  #phone-gameselect > select {
    background-color: rgb(54, 51, 51);
    color: white;
    border: solid rgb(40, 226, 214) 3px;
    border-radius: 8px;
    margin: 1rem 0rem 0rem 2.4rem;
    width: 11rem;
    height: 2rem;
  }

  #lets-play {
    display:flex;
  }

  #lets-play > button {
    margin: 5rem 0rem 0rem 6.75rem;
    height: 4rem;
    width: 12rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(243, 16, 16);
    /*background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));*/
  }
  
  /* ===== Challenge Container Styles ===== */
  
  #challenge-container {
    min-width: 100vwpx;
    width: calc(var(--vw, 1vw) * 100);
    min-height: 100vhpx;
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('../assets/monitor.png');
    height: calc(var(--vh, 1vh) * 100);
    background-repeat: no-repeat;
    margin: 5rem 0rem 0rem 4rem;
  }
  
  #challenge-cards {
    color: white;
    margin: 10rem 0rem 0rem 10rem;
  }
}