#createuser-container {
  display: flex;
  flex-direction: row;
  width: 100vwpx;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: rgb(137, 207, 233);
  color: black;
}

#create-column {
  display: flex;
  flex-direction: column;
}

#create-column > form {
  margin-left: 30%;
}

.create-input {
  width: 50%;
  margin-top: 1rem;
  border-radius: 2px;
  height: 2rem;
}

#submit {
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white; 
}

#create-email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#create-checkbox {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

#check-text {
  font-size: 1.16rem;
  margin-top: 1.5rem;
}

#create-column > form > a {
  margin: 5rem 35% 3rem 40%; /* top margin not working */
}



@media only screen and (max-width: 700px) {
  #create-column form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0rem 2rem 1rem 2rem;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(137, 207, 233);
    color: black;
  }

  #create-column > form {
    margin-left: 0%;
  }

  #create-column > form > a {
    margin: 0 0 0 0;
  }
}
