/* ===== GameContainer Styles ===== */

#game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/blue-background.png');
  background-repeat: no-repeat;
  background-size: auto;
  /*min-height: 1080px;*/
}


/* ===== Main Game Component Styles ===== */

#main-gamecomponents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}


/* ===== GameSetup Styles ===== */

*:focus {
  outline: none;
}

#gamesetup-container {
  font-family: 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.16rem;
  min-width: 26rem;
  height: 37.87rem;
  margin-left: 5%;
}

.setup-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 24rem;
} 

#gamesetup-container label {
  color: white;
  margin-top: 1rem;
  font-size: 1.16rem;
}

#gamesetup-container select {
  font-size: 1rem;
  width: 14rem;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  background-color: 
 rgb(54, 51, 51);
  color: white;
  border-radius: 8px;
}

#gamesetup-container button {
  background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
  color: white;
  font-size: 1.16rem;
}

#players > label {
  margin-top: 3rem;
}

#text-bttn-combo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
}

#text-bttn-combo > input {
  background-color: rgb(54, 51, 51);
  color: white;
  border-radius: 8px;
  width: 11.75rem;
  height: 2rem;
  font-size: 1.16rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-right: 0
}

#player-submit-btn {
  width: 2rem;
  height: 2rem;
  margin-top: 3.2rem;
  border: none;
  border-radius: 6px;
  font-size: 26px;
  line-height: 40%;
}

#phone-platformselect {
  display: none;
}

.platform-checkgroup {
  max-width: 14rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 10rem;
}

.platform-checkgroup label {
  margin: 0rem .5rem 0rem .5rem;
}

.platform-checkgroup input {
  margin: 0;
}

#mobile-spacer {
  width: 17.6rem;
}

#phone-gameselect {
  display: none;
}

#multi-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}

#multi-control > #scroller {
  margin-top: 1rem;
  height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  border-radius: 8px;
  background-color: rgb(54, 51, 51);
}

#multi-list {
  width: 14rem;
  list-style: none;
  padding: 0;
}

.multi-list-item {
  font-size: 1rem;
  background-color: rgb(54, 51, 51);
  height: 1.25rem;
  padding-top: 5px;
}

.multi-list-input {
  border: solid white 5px;
  margin: .25rem 1rem .25rem 1rem;
  background-color: rgb(54, 51, 51);
}

#lets-play {
  display: none;
}


/* ===== Challenge Container Styles ===== */

#mobilechallenges-nav {
  display: none;
}

#mobilechallenge-container {
  display: none;
}

/* this is a wrapper around challenge-conainer */
#outer-challenges-display {
  min-width: 40rem;
  /*height: 100%;*/
  background-image: url('../images/cartoon-monitor.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 3rem 2rem 0rem 2rem;
}

#challenge-container {
  width: 20rem;
  height: 10rem;
}

#challenge-cards {
  width: 23rem;
  height: 10.5rem;
  margin: 8.5rem 0rem 0rem 8.5rem;
}

#challenge-cards > div {
  color: white;
  width: 100%;
  height: 10rem;
  padding: .5rem 1rem 0rem 1rem;
  font-family: 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  margin: 0;
}

.challenge-title {
  font-family: 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  min-width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.challenge-rules {
  min-width: 100%;
  text-align: center;
}

.challenge-time {
  margin-top: 1rem;
  min-width: 100%;
  text-align: center;
}


/* ===== Players Styles ===== */

#player-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  margin: 3rem 2rem 5rem 2rem;
}

.player {
  height: 8rem;
  width: 5rem;
  margin: 1rem;
  background-color: burlywood;
  color: black;
}

.myturn {
  height: 10rem;
  width: 5rem;
  margin: 1rem;
  background-color: burlywood;
  color: black;
}

#player-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}