/* ===== GameContainer Styles ===== */

#game-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(137, 207, 233);
  background-size: 100vh;
}

#outer-challenges-display {
  z-index: 0;
}

#challenge-container {
  background-image: url('../images/chalkboard.png');
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem; /* This adjusts how much little guy shows */
  z-index: 1;
}

#challenge-cards {
  z-index: 3;
}

#player-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: fit-content;
}

#player-list {
  z-index: 0;
}

#ribbon-list {
  z-index: 4;
}

.player {
  z-index: -1;
}

.ribbondiv {
  z-index: 4;
}

#playerbuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 5;
}

.score-button {
  background-color: white;
  color: black;
  font-size: 1rem;
  margin-top: 0rem;
  border: none;
  border-radius: 50%;
  z-index: 4;
}

.character1 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-1.png");
}

.character2 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-2.png");
}

.character3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-3.png");
}

.character4 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-4.png");
}

.character5 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-5.png");
}

.character6 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-6.png");
}

.character7 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-7.png");
}

.character8 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/Characters-8.png");
}

#phone-playerline {
  display: none;
}

#platform-groups {
  margin-top: -3.75rem;
  margin-bottom: 1rem;
}









@media only screen and (max-width: 900px) {

  #game-container {
    display: none;
  }

  #phone-gamecomponents {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(137, 207, 233);
    background-size: 100vh;
  }

  /* ===== GameSetup Styles ===== */

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 24rem;
  } 
  
  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1.16rem;
  }
  
  #gamesetup-container select {
    font-size: 1rem;
    width: 14rem;
    height: 2rem;
    margin-top: 1rem;
    border: none;
    background-color: 
   rgb(54, 51, 51);
    color: white;
    border-radius: 8px;
  }
  
  /* ===== GameSetup Styles ===== */

  *:focus {
    outline: none;
  }



  .desktop-display {
    display: none;
  }

  #platform-checkgroup {
    display: none;
  }
  /*
  #game-container {
    max-width: 100vw;
    min-height: fit-content;
  }
*/
  #gamesetup-container {
    min-width: 400px;  /*=== this adjusts the width of setup ===*/
    min-height: fit-content;
  }

  #gamesetup-container #playerbuttons{
    display: none;
  }

  #gamesetup-container label {
    color: black;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  #gamesetup-container select {
    width: 10rem;
    height: 2rem;
    margin: 2rem 2rem 0rem 0rem;
  }

  #gamesetup-container input {
    width: 10rem;
    height: 2rem;
    margin: 2rem 1rem 0rem 0rem;
  }

  #main-gamecomponents {
    display: none;
  }

  #desklabel {
    display: none;
  }

  #phone-gamecomponents {
    display: flex;
    flex-direction: column;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    width: 9rem;
    margin-top: 2rem;
    margin-left: 1rem;
    height: 2rem;
  }
  
  #player-submit-btn {
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    margin-top: 2.1rem;
    margin-right: 2rem;
    margin-left: -1rem;
    border: none;
    border-radius: 5px;
  }

  #platform-groups {
    display: none;
  }

  #phone-platformselect {
    display: flex;
  }

  #phone-platformselect select {
    background-color: rgb(54, 51, 51);
    color: white;
  }
  
  #multi-control {
    display: none;
  }

  #phone-gameselect {
    display: flex;
  }
  
  #phone-gameselect > select {
    background-color: white;
    color: black;
    width: 16rem;
  }

  #lets-play {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
  }

  #lets-play > button {
    /*margin: 5rem 0rem 0rem 6.75rem;*/
    height: 4rem;
    width: 16rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-image: none;
    background-color: rgb(243, 16, 16);
    margin-top: 3rem;
    margin-bottom: 10rem;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    background-color: rgb(137, 207, 233);
    min-height: 100vh;
    position: absolute;
  }

  #outer-challenges-display {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
  }

  #challenge-container {
    display: none;
  }

  #playerbuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  #player-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    height: 7rem;
    margin-left: 0;
    margin-bottom: -4.25rem;
    z-index: 3;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 10rem;
    height: 2rem;
    margin: 0rem 0rem -1rem 0rem;
    z-index: 4;
    background-image: 4;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 3rem;
    width: 2rem;
    margin: 1rem 1.3rem 0rem 1rem;
    padding: .55rem;
  }

  .player {
    height: 4rem;
    width: 2rem;
    margin: 2.3rem 1rem -2.9rem 1rem;
    color: black;
  }

  .myturn {
    height: 4rem;
    width: 2rem;
    margin: 1.1rem 1rem -2.1rem 1rem;
  }

  #playerbuttons {
    max-height: fit-content;
    z-index: 12;
  }

  .score-button {
    height: 1.25rem;
    width: 1.25rem;
    line-height: 40%;
    font-size: .7rem;
  }

  .score-button-left {
    position: relative;
    margin: 16rem -1rem -15rem 2rem;
  }

  .score-button-right {
    position: relative;
    margin: 16rem 2rem -17rem -10rem;
  }

  #phone-playerline {
    display: flex;
    z-index: 3;
    width: 100%;
    height: 4rem;
    background-color:rgb(47, 82, 114);
  }

  #mobilebackground {
    background-image: url('../images/chalkboard.png');
    background-size: 92vw 20rem;
    background-repeat: no-repeat;
    margin: 1rem 1rem 1rem 1rem;
    padding-top: .5rem;
    color: white;
    z-index: -10;
  }

  .mobilechallenge-players {
    height: 15rem;
  }

  #mobilechallenge-cards {
    align-self: center;
    max-width: 95vw;
    height: 15rem;
    margin: 1rem 10% 1rem 10%;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
  }

  .slick-slider {
    max-width: 100vw;
    align-self: center;
    height: fit-content;
  }

  .slick-list {
    width: 90%;
    margin: .5rem;
  }

  #kitchencounter {
    height: 8rem;
    width: 24.25rem;
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: -1.6rem;
  }
}









@media only screen and (min-width: 901px) {

  #main-gamecomponents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  #sub-gamecomponents {
    max-height: fit-content;
  }

  #phone-gamecomponents {
    display: none;
  }

  .phone-display {
    display: none;
  }

  #outer-challenges-display > #navbar {
    display: none;
  } 


  /* ===== GameSetup Styles ===== */

  *:focus {
    outline: none;
  }

  #gamesetup-container {
    min-width: 26rem;
    max-height: fit-content;
    margin-bottom: 8rem;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 24rem;
  } 

  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #players > label {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 8rem;
    height: 1.2rem;
    font-size: .8rem;
    margin: 3rem 0rem 1rem 2rem;
  }

  #text-bttn-combo > button {
    width: 4.5rem;
    height: 1.2rem;
    margin-top: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 40%;
  }

  #phone-platformselect {
    display: none;
  }

  #phone-gameselect {
    display: none;
  }

  #games-label {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #multi-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
  }

  #multi-control > #scroller {
    margin-top: 1rem;
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 8px;
    background-color: white;
  }

  #multi-list {
    width: 12rem;
    list-style: none;
    padding: 0;
  }

  .multi-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    font-size: .7rem;
    background-color: white;
    height: 1.25rem;
    padding-top: 5px;
  }

  .multi-list-input {
    width: 1rem;
    border: solid black 1px;
    margin: 0rem 1rem 0rem 1rem;
    background-color: white;
  }

  #lets-play {
    display: none;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    display: none;
  }

  .mobilechallenge-players {
    display: none;
  }

  /* this is a wrapper around challenge-conainer */

  #outer-challenges-display {
    min-width: 50rem;
    min-height: fit-content;
    margin: 2rem 3rem 0rem 2rem;
  }

  #challenge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 30rem 15rem;
    background-repeat: no-repeat;
    width: 30rem;
    height: 15rem;
  }

  #sub-gamecomponents {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #challenge-cards {
    width: 25rem;
    height: 13rem;
    margin-top: 2rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 10rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  .challenge-rules {
    min-width: 100%;
    text-align: center;
  }

  .challenge-time {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  .challenge-attempts {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  /* ===== Players Styles ===== */

  #gamesetup-container #player-container {
    display: none;
  }
  
  #phone-counter-image {
    display: none;
  }

  #player-submit-btn {
    width: 6rem;
    height: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    line-height: 40%;
  }

  .score-button {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 20rem;
    z-index: 4;
  }

  #player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 26rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 26rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  .player {
    height: 4rem;
    width: 2rem;
    margin: 2.3rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 4rem;
    width: 2rem;
    margin: 1.1rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 3.2rem;
    width: 2rem;
    margin: 4rem 1rem 0rem 1rem;
    padding: .55rem;
  }

  #playerbutton-container {
    height: fit-content;
    width: fit-content;
    width: 6rem;
    margin-left: 14rem;
    margin-top: -23rem;
    z-index: 4;
  }

  #kitchencounter {
    height: 12rem;
    width: 42rem;
    margin-top: 2rem;
    margin-left: -9rem;
  }
}








@media only screen and (min-width: 1300px) {
  /* ===== Main Game Component Styles ===== */

  #main-gamecomponents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  #sub-gamecomponents {
    max-height: fit-content;
  }

  #phone-gamecomponents {
    display: none;
  }

  .phone-display {
    display: none;
  }

  #outer-challenges-display > #navbar {
    display: none;
  } 


  /* ===== GameSetup Styles ===== */

  #gamesetup-container {
    min-width: 26rem;
    max-height: fit-content;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 24rem;
  } 

  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #players > label {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 9rem;
    height: 1.2rem;
    font-size: .8rem;
    margin: 3rem 0rem 1rem 2rem;
  }

  #text-bttn-combo > button {
    width: 6rem;
    height: 1.2rem;
    margin-top: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 40%;
  }

  #phone-platformselect {
    display: none;
  }

  #phone-gameselect {
    display: none;
  }

  #games-label {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #multi-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
  }

  #multi-control > #scroller {
    margin-top: 1rem;
    height: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 8px;
    background-color: white;
  }

  #multi-list {
    width: 15rem;
    list-style: none;
    padding: 0;
  }

  .multi-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    font-size: .9rem;
    background-color: white;
    height: 2rem;
    padding-top: 10px;
  }

  .multi-list-input {
    width: 1rem;
    height: 1rem;
    border: solid black 2px;
    margin: .4rem 1rem 1rem 1rem;
    background-color: white;
  }

  #lets-play {
    display: none;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    display: none;
  }

  .mobilechallenge-players {
    display: none;
  }

  /* this is a wrapper around challenge-conainer */

  #outer-challenges-display {
    min-width: 50rem;
    min-height: fit-content;
    margin: 2rem 3rem 0rem 5rem;
  }

  #challenge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 40rem 23rem;
    background-repeat: no-repeat;
    width: 40rem;
    height: 23rem;
  }

  #sub-gamecomponents {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #challenge-cards {
    width: 31rem;
    height: 17rem;
    margin-top: 5rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 12rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  .challenge-rules {
    min-width: 100%;
    text-align: center;
  }

  .challenge-time {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  .challenge-attempts {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  /* ===== Players Styles ===== */

  #gamesetup-container #player-container {
    display: none;
  }
  
  #phone-counter-image {
    display: none;
  }

  #player-submit-btn {
    width: 6rem;
    height: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    line-height: 40%;
  }

  .score-button {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 20rem;
    z-index: 4;
  }

  #player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  .player {
    height: 7rem;
    width: 3rem;
    margin: 1.8rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 9rem;
    width: 3rem;
    margin: -.5rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 5rem;
    width: 3rem;
    margin: 4rem 1.1rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  #playerbutton-container {
    height: fit-content;
    width: fit-content;
    width: 6rem;
    margin-left: 23rem;
    margin-top: -23rem;
    z-index: 4;
  }

  #kitchencounter {
    height: 20rem;
    width: 58rem;
    margin-top: 4rem;
    margin-left: -14rem;
  }

  #bottombar-buffer {
    height: 9rem;
  }
}










@media only screen and (min-width: 1501px) {
  /* ===== Main Game Component Styles ===== */

  #main-gamecomponents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  #sub-gamecomponents {
    max-height: fit-content;
  }

  #phone-gamecomponents {
    display: none;
  }

  .phone-display {
    display: none;
  }

  #outer-challenges-display > #navbar {
    display: none;
  } 


  /* ===== GameSetup Styles ===== */

  #gamesetup-container {
    min-width: 26rem;
    max-height: fit-content;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 24rem;
  } 

  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #players > label {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 9rem;
    height: 1.5rem;
    font-size: 1.2rem;
    margin: 3rem 0rem 1rem 2rem;
  }

  #text-bttn-combo > button {
    width: 6rem;
    height: 1.5rem;
    margin-top: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 40%;
  }

  #phone-platformselect {
    display: none;
  }

  #phone-gameselect {
    display: none;
  }

  #games-label {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #multi-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
  }

  #multi-control > #scroller {
    margin-top: 1rem;
    height: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 8px;
    background-color: white;
  }

  #multi-list {
    width: 15rem;
    list-style: none;
    padding: 0;
  }

  .multi-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    font-size: .9rem;
    background-color: white;
    height: 2rem;
    padding-top: 10px;
  }

  .multi-list-input {
    width: 1rem;
    height: 1rem;
    border: solid black 2px;
    margin: .4rem 1rem 1rem 1rem;
    background-color: white;
  }

  #lets-play {
    display: none;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    display: none;
  }

  .mobilechallenge-players {
    display: none;
  }

  /* this is a wrapper around challenge-conainer */

  #outer-challenges-display {
    min-width: 50rem;
    min-height: fit-content;
    margin: 2rem 3rem 0rem 5rem;
  }

  #challenge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 40rem 25rem;
    background-repeat: no-repeat;
    width: 40rem;
    height: 25rem;
  }

  #sub-gamecomponents {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #challenge-cards {
    width: 40rem;
    height: 22rem;
    margin-top: 3rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 20rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1.5rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  .challenge-rules {
    min-width: 100%;
    text-align: center;
  }

  .challenge-time {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  .challenge-attempts {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  /* ===== Players Styles ===== */

  #gamesetup-container #player-container {
    display: none;
  }
  
  #phone-counter-image {
    display: none;
  }

  #player-submit-btn {
    width: 6rem;
    height: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    line-height: 40%;
  }

  .score-button {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 20rem;
    z-index: 4;
  }

  #player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  .player {
    height: 7rem;
    width: 3rem;
    margin: 1.8rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 9rem;
    width: 3rem;
    margin: -.5rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 5rem;
    width: 3rem;
    margin: 4rem 1.1rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  #playerbutton-container {
    height: fit-content;
    width: fit-content;
    width: 6rem;
    margin-left: 23rem;
    margin-top: -23rem;
    z-index: 4;
  }

  #kitchencounter {
    height: 20rem;
    width: 55rem;
    margin-top: 0rem;
    margin-left: -8rem;
  }

  #bottombar-buffer {
    height: 12rem;
  }
}

  













@media only screen and (min-width: 1700px) {
  /* ===== Main Game Component Styles ===== */

  #main-gamecomponents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  #sub-gamecomponents {
    max-height: fit-content;
  }

  #phone-gamecomponents {
    display: none;
  }

  .phone-display {
    display: none;
  }

  #outer-challenges-display > #navbar {
    display: none;
  } 


  /* ===== GameSetup Styles ===== */

  #gamesetup-container {
    min-width: 26rem;
    max-height: fit-content;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 24rem;
  } 

  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #players > label {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 9rem;
    height: 1.5rem;
    font-size: 1.2rem;
    margin: 3rem 0rem 1rem 2rem;
  }

  #text-bttn-combo > button {
    width: 6rem;
    height: 1.5rem;
    margin-top: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 40%;
  }

  #phone-platformselect {
    display: none;
  }

  #phone-gameselect {
    display: none;
  }

  #games-label {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #multi-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
  }

  #multi-control > #scroller {
    margin-top: 1rem;
    height: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 8px;
    background-color: white;
  }

  #multi-list {
    width: 15rem;
    list-style: none;
    padding: 0;
  }

  .multi-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    font-size: .9rem;
    background-color: white;
    height: 2rem;
    padding-top: 10px;
  }

  .multi-list-input {
    width: 1rem;
    height: 1rem;
    border: solid black 2px;
    margin: .4rem 1rem 1rem 1rem;
    background-color: white;
  }

  #lets-play {
    display: none;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    display: none;
  }

  .mobilechallenge-players {
    display: none;
  }

  /* this is a wrapper around challenge-conainer */

  #outer-challenges-display {
    min-width: 50rem;
    min-height: fit-content;
    margin: 2rem 3rem 0rem 5rem;
  }

  #challenge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 50rem 30rem;
    background-repeat: no-repeat;
    width: 50rem;
    height: 30rem;
  }

  #sub-gamecomponents {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #challenge-cards {
    width: 40rem;
    height: 25rem;
    margin-top: 5rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 25rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1.5rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  .challenge-rules {
    min-width: 100%;
    text-align: center;
  }

  .challenge-time {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  .challenge-attempts {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  /* ===== Players Styles ===== */

  #gamesetup-container #player-container {
    display: none;
  }
  
  #phone-counter-image {
    display: none;
  }

  #player-submit-btn {
    width: 6rem;
    height: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    line-height: 40%;
  }

  .score-button {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 20rem;
    z-index: 4;
  }

  #player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  .player {
    height: 7rem;
    width: 3rem;
    margin: 1.8rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 9rem;
    width: 3rem;
    margin: -.5rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 5rem;
    width: 3rem;
    margin: 4rem 1.1rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  #playerbutton-container {
    height: fit-content;
    width: fit-content;
    width: 6rem;
    margin-left: 28rem;
    margin-top: -24rem;
    z-index: 4;
  }

  #kitchencounter {
    height: 21rem;
    width: 70rem;
    margin-top: -2rem;
    margin-left: -15rem;
  }

  #sub-gamecomponents {
    position: absolute;
    margin-left: 27rem;
  }

  #bottombar-container {
    z-index: 3;
  }

  #bottombar-buffer {
    height: 18rem;
  }
}










@media only screen and (min-width: 1800px) {
  /* ===== Main Game Component Styles ===== */

  #main-gamecomponents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
  }

  #sub-gamecomponents {
    max-height: fit-content;
  }

  #phone-gamecomponents {
    display: none;
  }

  .phone-display {
    display: none;
  }

  #outer-challenges-display > #navbar {
    display: none;
  } 


  /* ===== GameSetup Styles ===== */

  #gamesetup-container {
    min-width: 26rem;
    max-height: fit-content;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 24rem;
  } 

  #gamesetup-container label {
    color: black;
    margin-top: 1rem;
    font-size: 1rem;
  }

  #players > label {
    margin-top: 3rem;
    margin-left: 3rem;
  }

  #text-bttn-combo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
  }

  #text-bttn-combo > input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 9rem;
    height: 1.5rem;
    font-size: 1.2rem;
    margin: 3rem 0rem 1rem 2rem;
  }

  #text-bttn-combo > button {
    width: 6rem;
    height: 1.5rem;
    margin-top: 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    line-height: 40%;
  }

  #phone-platformselect {
    display: none;
  }

  #phone-gameselect {
    display: none;
  }

  #games-label {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  #multi-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
  }

  #multi-control > #scroller {
    margin-top: 1rem;
    height: 17rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;
    border-radius: 8px;
    background-color: white;
  }

  #multi-list {
    width: 15rem;
    list-style: none;
    padding: 0;
  }

  .multi-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
    font-size: .9rem;
    background-color: white;
    height: 2rem;
    padding-top: 10px;
  }

  .multi-list-input {
    width: 1rem;
    height: 1rem;
    border: solid black 2px;
    margin: .4rem 1rem 1rem 1rem;
    background-color: white;
  }

  #lets-play {
    display: none;
  }


  /* ===== Challenge Container Styles ===== */

  .mobilechallenge-container {
    display: none;
  }

  .mobilechallenge-players {
    display: none;
  }

  /* this is a wrapper around challenge-conainer */

  #outer-challenges-display {
    min-width: 50rem;
    min-height: fit-content;
    margin: 2rem 3rem 0rem 5rem;
  }

  #challenge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: 50rem 30rem;
    background-repeat: no-repeat;
    width: 50rem;
    height: 30rem;
  }

  #sub-gamecomponents {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #challenge-cards {
    width: 40rem;
    height: 25rem;
    margin-top: 6rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 25rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1.5rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  .challenge-rules {
    min-width: 100%;
    text-align: center;
  }

  .challenge-time {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  .challenge-attempts {
    margin-top: .25rem;
    min-width: 100%;
    text-align: center;
  }

  /* ===== Players Styles ===== */

  #gamesetup-container #player-container {
    display: none;
  }
  
  #phone-counter-image {
    display: none;
  }

  #player-submit-btn {
    width: 6rem;
    height: 1rem;
    margin-top: 3rem;
    border: none;
    border-radius: 6px;
    font-size: 26px;
    line-height: 40%;
  }

  .score-button {
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 20rem;
    z-index: 4;
  }

  #player-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  #ribbon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem;
    margin: 0rem 2rem -10rem 6rem;
    justify-content: right;
  }

  .player {
    height: 7rem;
    width: 3rem;
    margin: 1.8rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 9rem;
    width: 3rem;
    margin: -.5rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 5rem;
    width: 3rem;
    margin: 4rem 1.1rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  #playerbutton-container {
    height: fit-content;
    width: fit-content;
    width: 6rem;
    margin-left: 28rem;
    margin-top: -25rem;
    z-index: 4;
  }

  #kitchencounter {
    height: 25rem;
    width: 70rem;
    margin-top: -4rem;
    margin-left: -16rem;
  }

  #sub-gamecomponents {
    position: absolute;
    margin-left: 30rem;
  }

  #bottombar-buffer {
    height: 19rem;
  }
}









@media only screen and (min-width: 2000px) {
  #bottombar-buffer {
    height: 11rem;
  }

  #challenge-cards > div {
    color: white;
    width: 100%;
    height: 25rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: 1.8rem;
    margin: 0;
  }

  .challenge-title {
    font-weight: bold;
    font-size: 1.8rem;
    min-width: 100%;
    text-align: center;
    margin-bottom: .5rem;
  }

  #sub-gamecomponents {
    position: absolute;
    margin-left: 35rem;
  }

  .player {
    height: 7rem;
    width: 3rem;
    margin: 1.8rem 1rem 0rem 1rem;
    color: black;
  }

  .myturn {
    height: 9rem;
    width: 3rem;
    margin: -.5rem 1rem 0rem 1rem;
  }

  .ribbondiv {
    background-image: url('../images/ribbon.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: black;
    height: 5rem;
    width: 3rem;
    margin: 4rem 1.1rem 0rem 1rem;
    padding: 1rem;
    font-size: 1.5rem;
  }

  #bottombar-buffer {
    height: 19rem;
  }
}

