#landingpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: rgb(190, 205, 211);
    font-family: 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    z-index: 0;
  }

  @media only screen and (max-width: 770px) {
    #landingpage-wrapper {
      display: none;
    }

    #landingpage-image img {
      
    }
  }

  @media only screen and (min-width: 1000px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      min-height: fit-content;
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1100px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: .7rem;
      width: 19rem;
      height: fit-content;
      margin-left: 600px;
      margin-top: -6.5rem;
      margin-bottom: 6rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 2.4rem;
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }
    
    .landingpage-header {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.1rem;
    width: 22rem;
    height: fit-content;
    margin-left: 200px;
    margin-top: -10rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 260px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 1.2rem;
    }
  }

  @media only screen and (min-width: 1300px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1300px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.1rem;
      width: 23rem;
      height: fit-content;
      margin-left: 700px;
      margin-top: -7rem;
      margin-bottom: 6rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 2.6rem;
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }
    
    .landingpage-header {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.1rem;
    width: 22rem;
    height: fit-content;
    margin-left: 300px;
    margin-top: 0rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 260px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 1.2rem;
    }
  }
  
  @media only screen and (min-width: 1301px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1300px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.1rem;
      width: 23rem;
      height: fit-content;
      margin-left: 700px;
      margin-top: -7rem;
      margin-bottom: 6rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 2.6rem;
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }
    
    .landingpage-header {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.1rem;
    width: 22rem;
    height: fit-content;
    margin-left: 300px;
    margin-top: 0rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 260px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 1.2rem;
    }
  }
  
  @media only screen and (min-width: 1400px) {
    
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1400px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.1rem;
      width: 23rem;
      height: fit-content;
      margin-left: 750px;
      margin-top: -9rem;
      margin-bottom: 9rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 2.6rem;
      font-weight: bolder;
      margin-bottom: 1.5rem;
    }
    
    .landingpage-header {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.1rem;
    width: 22rem;
    height: fit-content;
    margin-left: 300px;
    margin-top: 0rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 260px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 1.4rem;
    }
  }
  
  @media only screen and (min-width: 1500px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1500px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.1rem;
      width: 26rem;
      height: fit-content;
      margin-left: 800px;
      margin-top: -14rem;
      margin-bottom: 10rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 3rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    
    .landingpage-header {
      font-size: 1.5rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.3rem;
    width: 27rem;
    height: fit-content;
    margin-left: 300px;
    margin-top: -3rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 325px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2.8rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 2rem;
    }
  }
  
  @media only screen and (min-width: 1600px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1600px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.1rem;
      width: 26rem;
      height: fit-content;
      margin-left: 850px;
      margin-top: -14rem;
      margin-bottom: 10rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 3.4rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
    
    .landingpage-header {
      font-size: 1.8rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.3rem;
    width: 27rem;
    height: fit-content;
    margin-left: 350px;
    margin-top: -5rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 325px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 2.8rem;
      height: 130px;
      width: 400px;
      margin-left: 40px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 2rem;
    }
  }
  
  @media only screen and (min-width: 1900px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 1920px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 1.5rem;
      width: 35rem;
      height: fit-content;
      margin-left: 1020px;
      margin-top: -14rem;
      margin-bottom: 15rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 4rem;
      font-weight: bolder;
      margin-bottom: 2.2rem;
    }
    
    .landingpage-header {
      font-size: 1.9rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.3rem;
    width: 27rem;
    height: fit-content;
    margin-left: 400px;
    margin-top: 0rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 425px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 3.5rem;
      height: 130px;
      width: 500px;
      margin-left: 60px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 3rem;
    }
  }
  
  @media only screen and (min-width: 2500px) {
  
    #landingpage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh - 8rem);
      z-index: 0;
      position: relative;
    }
  
    #landingpage-image {
      width: fit-content;
      position: relative;
      z-index: 1;
    }
    
    #landingpage-image img {
      width: 2500px;
    }
    
    #landingpage-text {
      z-index: 2;
      font-size: 2.1rem;
      width: 41rem;
      height: fit-content;
      margin-left: 1380px;
      margin-top: -14rem;
      margin-bottom: 15rem;
      position: absolute;
    }
    
    #thwartme-header {
      font-size: 4.4rem;
      font-weight: bolder;
      margin-bottom: 2.8rem;
    }
    
    .landingpage-header {
      font-size: 2.5rem;
      font-weight: bolder;
      margin-bottom: 1.1rem;
      line-height: 120%;
    }
  
    #landingpage-text > div {
      margin-top: .5rem;
    }
    
    #landingpage-text > button {
      margin-top: 20px;
      margin-left: 50px;
      border-radius: 8px;
      border-width: 0;
      background-color: gray;
      color: white;
      cursor: pointer;
    }
    
    #landingpage-text li:not(:last-child) {
      margin-bottom: .75rem;
      line-height: 120%;
    }
    
    #signup {
    z-index: 2;
    font-size: 1.3rem;
    width: 27rem;
    height: fit-content;
    margin-left: 520px;
    margin-top: 0rem;
    position: absolute;
  }
  
    #bubble {
      width: fit-content;
      height: fit-content;
      z-index: 2;
      position: absolute;
    }
  
    #signup img {
      width: 425px;;
    }
  
    #signup-text {
      z-index: 3;
      font-size: 3.5rem;
      height: 130px;
      width: 500px;
      margin-left: 60px;
      margin-top: 15px;
      position: absolute;
      cursor: pointer;
    }
  
    #signup-text > div {
      margin-top: 3rem;
    }
  }
  