#navbar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(54, 51, 51);
  min-width: 100%;
  min-height: 3.5rem;
  margin-top: 5rem;
  color: white;
  font-family: 'Arial Rounded MT Bold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logout-text {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  margin: 1rem 4rem 0rem 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nav-links > a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  margin: 1rem 4rem 0rem 2rem;
}

@media only screen and (max-width: 1112px) {
  .nav-links > a {
    margin: 1rem 3rem 1rem 2rem
  }
}

@media only screen and (max-width: 1069px) {
  .nav-links > a {
    margin: 1rem 2rem 1rem 1.5rem;
  }
}

@media only screen and (max-width: 912px) {
  #navbar {
    min-height: 4.5rem;
  }
}

@media only screen and (max-width: 700px) {
  #navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-height: fit-content;
    width: 100%;
    margin-top: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    max-width: 100vw;
  }
}