
/** {border: solid red 2px}*/

#site-down {
  height: 1080px;
  background-color: black;
  padding: 20rem;
}

#site-down h1 {
  color: white;
}


/* ===== Ads Styles ===== */

#advertisements {
  background-color: white;
  height: 20rem;
  width: 10rem;
  margin: 7rem 3rem 0rem 0rem;
}




