/* ===== Fonts ===== */
/*
@font-face {
  font-family: "HKGrotesk-Black";
  src: local("HKGrotesk-Black"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Black.ttf") format("truetype");
  font-weight: normal;
}
*/
@font-face {
  font-family: "HKGrotesk-Bold";
  src: local("HKGrotesk-Bold"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Bold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-BoldItalic";
  src: local("HKGrotesk-BoldItalic"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}
/*
@font-face {
  font-family: "HKGrotesk-ExtraBold";
  src: local("HKGrotesk-ExtraBold"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: normal;
}
*/
@font-face {
  font-family: "HKGrotesk-Italic";
  src: local("HKGrotesk-Italic"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Italic.ttf") format("truetype");
  font-weight: normal;
}
/*
@font-face {
  font-family: "HKGrotesk-Light";
  src: local("HKGrotesk-Light"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Light.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-LightItalic";
  src: local("HKGrotesk-LightItalic"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-LightItalic.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-Medium";
  src: local("HKGrotesk-Medium"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-MediumItalic";
  src: local("HKGrotesk-MediumItalic"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-MediumItalic.ttf") format("truetype");
  font-weight: normal;
}
*/
@font-face {
  font-family: "HKGrotesk-Regular";
  src: local("HKGrotesk-Regular"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
}
/*
@font-face {
  font-family: "HKGrotesk-SemiBold";
  src: local("HKGrotesk-SemiBold"),
    url("../HKGrotesk2.41/TTF/HKGrotesk-SemiBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-SemiBoldItalic";
  src: local("HKGrotesk-SemiBold"Italic),
    url("../HKGrotesk2.41/TTF/HKGrotesk-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
}
*/

*/* {border: solid red 2px}*/

#site-down {
  height: 1080px;
  background-image: url('../images/blue-background.png');
  padding: 20rem;
}

#site-down h1 {
  color: white;
}


/* ===== CreateUser Styles ===== */

#createuser-container {
  display: flex;
  flex-direction: row;
  width: 100vwpx;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

#create-column {
  display: flex;
  flex-direction: column;
}

.create-input {
  width: 98%;
  margin-top: 1rem;
  border-radius: 15px;
  height: 1rem;
}

#submit {
  margin-top: 4rem;
  width: 8rem;
  height: 2rem;
  background-color: black;
  color: white; 
}

#create-email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#create-checkbox {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

#check-text {
  font-size: 1.16rem;
  margin-top: 1.5rem;
}


/* ===== About Styles ===== */

#about-container {
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  padding-top: 3rem;
}

#about-container > h1 {
  color: black;
}


/* ===== Contact Styles ===== */

#contact-container {
  min-height: 100vhpx;
  height: calc(var(--vh, 1vh) * 100);
  min-width: 100vwpx;
  width: calc(var(--vw, 1vw) * 100);
  padding-top: 3rem;
}

#contact-container > h1 {
  color: black;
}


/* ===== NavBar Styles ===== */

#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(54, 51, 51);
  min-width: 100%;
  height: 5rem;
  margin-top: 3rem;
  color: white;
  border-bottom:  solid rgb(40, 226, 214) 3px;
  font-family: 'HKGrotesk-Bold';
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#nav-links > a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin: 1.6rem 0rem 1rem 4rem
}


/* ===== Login Styles ===== */

#login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 40rem;
  height: 5rem;
  margin-top: 2rem;
  margin-right: 1rem;
  font-family: HKGrotesk-Regular;
  font-size: 1.2rem;
}

#login-container > a {
  color: white;
  text-decoration: none;
}

#welcome-user {
  width: fit-content;
}

#login-container > input {
  width: 8rem;
  height: 1.5rem;
}

#login-container > button {
  height: 1.5rem;
  width: fit-content;
  color: white;
  background-color: rgb(54, 51, 51);
  border: none;
  border-radius: 10%;
}


/* ===== Landing Page Styles ===== */

#landingpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/blue-background.png');
  background-repeat: no-repeat;
  background-size: auto;
}


/* ===== GameContainer Styles ===== */

#game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/blue-background.png');
  background-repeat: no-repeat;
  background-size: auto;
  /*min-height: 1080px;*/
}


/* ===== Main Game Component Styles ===== */

#main-gamecomponents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}


/* ===== GameSetup Styles ===== */

*:focus {
  outline: none;
}

#gamesetup-container {
  font-family: 'HKGrotesk-Regular';
  font-size: 1.16rem;
  min-width: 26rem;
  height: 37.87rem;
  margin-left: 5%;
}

.setup-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 24rem;
} 

#gamesetup-container label {
  color: white;
  margin-top: 1rem;
  font-size: 1.16rem;
}

#gamesetup-container select {
  font-size: 1rem;
  width: 14rem;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  background-color: 
 rgb(54, 51, 51);
  color: white;
  border-radius: 8px;
}

#gamesetup-container button {
  background-image: linear-gradient(rgb(40, 226, 214), rgb(57, 63, 65));
  color: white;
  font-size: 1.16rem;
}

#players > label {
  margin-top: 3rem;
}

#text-bttn-combo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
}

#text-bttn-combo > input {
  background-color: rgb(54, 51, 51);
  color: white;
  border-radius: 8px;
  width: 11.75rem;
  height: 2rem;
  font-size: 1.16rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-right: 0
}

#player-submit-btn {
  width: 2rem;
  height: 2rem;
  margin-top: 3.2rem;
  border: none;
  border-radius: 6px;
  font-size: 26px;
  line-height: 40%;
}

#phone-platformselect {
  display: none;
}

.platform-checkgroup {
  max-width: 14rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 10rem;
}

.platform-checkgroup label {
  margin: 0rem .5rem 0rem .5rem;
}

.platform-checkgroup input {
  margin: 0;
}

#mobile-spacer {
  width: 17.6rem;
}

#phone-gameselect {
  display: none;
}

#multi-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
}

#multi-control > #scroller {
  margin-top: 1rem;
  height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  border-radius: 8px;
  background-color: rgb(54, 51, 51);
}

#multi-list {
  width: 14rem;
  list-style: none;
  padding: 0;
}

.multi-list-item {
  font-size: 1rem;
  background-color: rgb(54, 51, 51);
  height: 1.25rem;
  padding-top: 5px;
}

.multi-list-input {
  border: solid white 5px;
  margin: .25rem 1rem .25rem 1rem;
  background-color: rgb(54, 51, 51);
}

#lets-play {
  display: none;
}


/* ===== Challenge Container Styles ===== */

#mobilechallenges-nav {
  display: none;
}

#mobilechallenge-container {
  display: none;
}

/* this is a wrapper around challenge-conainer */
#outer-challenges-display {
  min-width: 40rem;
  /*height: 100%;*/
  background-image: url('../images/cartoon-monitor.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 3rem 2rem 0rem 2rem;
}

#challenge-container {
  width: 20rem;
  height: 10rem;
}

#challenge-cards {
  width: 23rem;
  height: 10.5rem;
  margin: 8.5rem 0rem 0rem 8.5rem;
}

#challenge-cards > div {
  color: white;
  width: 100%;
  height: 10rem;
  padding: .5rem 1rem 0rem 1rem;
  font-family: 'HKGrotesk-Regular';
  font-size: 1rem;
  margin: 0;
}

.challenge-title {
  font-family: 'HKGrotesk-bold';
  font-size: 1.5rem;
  min-width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.challenge-rules {
  min-width: 100%;
  text-align: center;
}

.challenge-time {
  margin-top: 1rem;
  min-width: 100%;
  text-align: center;
}


/* ===== Players Styles ===== */

#player-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  margin: 3rem 2rem 5rem 2rem;
}

.player {
  height: 8rem;
  width: 5rem;
  margin: 1rem;
  background-color: burlywood;
  color: black;
}

.myturn {
  height: 10rem;
  width: 5rem;
  margin: 1rem;
  background-color: burlywood;
  color: black;
}

#player-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


/* ===== Ads Styles ===== */

#advertisements {
  background-color: white;
  height: 20rem;
  width: 10rem;
  margin: 7rem 3rem 0rem 0rem;
}




/* ========== Media Queries ========== */

/* ===== iPhone ===== */


@media only screen and (max-width: 600px) {


  #game-container {
    max-width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
  }

  #gamesetup-container {
    font-family: 'HKGrotesk-Regular';
    min-width: 0;
    /*min-height: 1080px;*/
  }

  #gamesetup-container label {
    color: white;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  #gamesetup-container select {
    width: 10rem;
    height: 2rem;
    margin: 2rem 2rem 0rem 0rem;
  }

  #gamesetup-container input {
    width: 10rem;
    height: 2rem;
    margin: 2rem 1rem 0rem 0rem;
  }

  #navbar {
    min-width: 100%;
    height: 40px;
    margin-top: 1rem;
    font-family: 'HKGrotesk-Regular';
  }

  #nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  #nav-links > a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    margin: 1rem 0rem 0rem 1rem;
  }
  
  #navbar-spacer {
    width: 0%;
  }

  #main-gamecomponents {
    display: flex;
    flex-direction: column;
  }

  .setup-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #text-bttn-combo > input {
    background-color: rgb(54, 51, 51);
    color: white;
    width: 9rem;
    margin-top: 2rem;
    height: 1.5rem;
  }
  
  #player-submit-btn {
    margin-top: 2.1rem;
    margin-right: 1rem
  }
  
  #platform-groups {
    display: none;
  }

  #phone-platformselect {
    display: flex;
  }

  #phone-platformselect select {
    background-color: rgb(54, 51, 51);
    color: white;
  }
  
  #multi-control {
    display: none;
  }
  
  #phone-gameselect {
    display: flex;
  }
  
  #phone-gameselect > select {
    background-color: rgb(54, 51, 51);
    color: white;
    width: 16rem;
  }

  #lets-play {
    display:flex;
    flex-direction: row;
    justify-content: center;
  }

  #lets-play > button {
    /*margin: 5rem 0rem 0rem 6.75rem;*/
    height: 4rem;
    width: 12rem;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-image: none;
    background-color: rgb(243, 16, 16);
    margin-top: 3rem;
  }
  
  /* ===== Challenge Container Styles ===== */

  #challenge-container {
    display: none;
  }

  #mobilechallenges-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 125%;
  }

  #mobilechallenge-container {
    display: flex;
    /*min-width: 100vwpx;
    width: calc(var(--vw, 1vw) * 100);*/
    width: 97%;
    height: 525px;
    background-image: url('../images/cartoon-monitor.png');
    background-size: 100% 400px;
    background-repeat: no-repeat;
    margin: 6rem 0rem 0rem 0rem;
  }

  #challenge-cards {
    color: black;
    background-color: white;
    margin: 5rem 0rem 0rem 3rem;
  }
} 
